<%=	render partial: 'breadcrumbs' %>

<% content_for :button do %>
    <div class="button" data-link="<%= edit_project_task_path(@project, @task) %>">
        <i class="fas fa-pencil-alt"></i>
    </div>
    <div class="button" data-link="<%= project_delete_task_path(@project, @task) %>">
        <i class="fas fa-trash"></i>
    </div>
<% end %>

<div class="grid-center fill-x">
    <div class="destroy-confirmation">
        <% unless @task.description.empty? %>
            <%=	@task.description %><br><br>
        <% end %>
        Users:
        <% @task.users.each do |user| %>
            <span><%= user.full_name %></span>
        <% end %>
    </div>
</div>