<% content_for :button do %>
    <div class="button" data-link="<%= new_project_path %>">
        <i class="fas fa-plus"></i>
    </div>
<% end %>
<% if @projects.length != 0  %>

    <div class="grid-center fill-x">
        <div style="display: flex; grid-auto-flow: column;">
            <div class="tag-container">
                <span class="title">Projects</span>
                <div class="task-container">
                    <% @projects.each do |p| %>
                        <a href="project/<%= p.id %>" class="task"><%= p.name %></a>
                    <% end %>
                </div>
            </div>
            <div class="tag-container">
                <span class="title">Recent Tasks</span>
                <div id="recent-tasks" class="task-container">
                    <% task = @user.get_latest_tasks(10) %>
                    <% task.each do |t| %>
                        <a href="<%= project_task_path(t.project, t) %>" class="task"><%= "#{t.project.name} - #{t.title}" %></a>
                    <% end %>
                    <% unless task.length > 0 %>
                        <span style="text-align: center; color: gray">Looks like no tasks have been assigned to you yet!</span>
                    <% end %>
                </div>
            </div>
        </div>
    </div>

<% else %>

    <div class="grid-center fill">
        <div style="text-align: center; color: gray">
            <span>Looks like there's nothing here yet.</span><br>
            <span>Try adding a project above!</span>
        </div>
    </div>

<% end %>