<%=	render partial: 'breadcrumbs' %>

<% content_for :js do %>
    <%= javascript_include_tag 'project', 'data-turbolinks-track': 'reload' %>
<% end %>

<% content_for :button do %>
    <div class="button" data-target="new-task">
        <i class="fas fa-plus"></i>
    </div>
    <div class="button" data-target="add-user">
        <i class="fas fa-user-plus"></i>
    </div>
    <div class="button" data-target="edit-project">
        <i class="fas fa-pencil-alt"></i>
    </div>
    <div class="button" data-target="delete-project">
        <i class="fas fa-trash"></i>
    </div>
<% end %>

<div id="tasks" class="hidden" style="display: flex; grid-auto-flow: column;">
</div>

<div id="welcome" class="grid-center fill hidden">
    <div style="text-align: center; color: gray">
        <span>Looks like there's nothing here yet.</span><br>
        <span>Try adding a task above!</span>
    </div>
</div>

<div id="dimmer" class="invisible"></div>

<%= render partial: 'new_task' %>
<%= render partial: 'edit_project' %>
<%= render partial: 'delete_project' %>
<%= render partial: 'add_user' %>

<div id="view-task" class="popup">
    <div class="popup-menu"></div>
</div>

<datalist id="tags">
</datalist>