<!DOCTYPE html>
<html>
    <head>
        <title>Tasks</title>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= yield(:js) %>
    </head>

    <body>
        <div id="nav">
            <span id="title"><a href="/dashboard">Tasks</a><%= yield(:breadcrumbs) %></span>
            <div id="button-dashboard">
                <%= yield(:button) %>
                <div class="button" id="user-panel">
                    <span><%= first_name_check @user %></span>
                </div>
            </div>
        </div>
        <div id="user-data" class="hidden">
            <span id="name"><%= @user.full_id %></span>
            <%= link_to('Logout', destroy_user_session_path, method: :delete, class: 'button-alt') %>
        </div>
        <div id="content">
            <%= yield %>
        </div>
    </body>
</html>